<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>New Menu Item</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>New Menu Item</h1>
    <form action="http://127.0.0.1:8000/api/menu/" method="post">
        <p><label>Title</label></p>
        <p><input type="text" name="title" required></p>
        <p><label>Price</label></p>
        <p><input type="text" name="price" required></p>
        <p><label>Intentory</label></p>
        <p><input type="text" name="inventory" required></p>
        <p><label>category_id</label></p>
        <p><input type="text" name="category_id" required></p>

        <input type="submit" value="Save">
    </form>
    <script src="" async defer></script>
</body>

</html>